// http://mcg.mbitson.com tool ot generate

$mat-custom-primary: (
  50: #fdebeb,
  100: #facece,
  200: #f7adad,
  300: #f48c8c,
  400: #f17374,
  500: #ef5a5b,
  600: #ed5253,
  700: #eb4849,
  800: #e83f40,
  900: #e42e2f,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfc0,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-custom-secondary: (
  50: #e3e5e8,
  100: #babec5,
  200: #8c939f,
  300: #5e6879,
  400: #3c475c,
  500: #19273f,
  600: #162339,
  700: #121d31,
  800: #0e1729,
  900: #080e1b,
  A100: #babec5,
  A200: #8c939f,
  A400: #5e6879,
  A700: #3c475c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-custom-warn: (
  50: #ffe3e3,
  100: #ffb9b9,
  200: #ff8b8b,
  300: #ff5d5d,
  400: #ff3a3a,
  500: #ff1717,
  600: #ff1414,
  700: #ff1111,
  800: #ff0d0d,
  900: #ff0707,
  A100: #ffffff,
  A200: #fff4f4,
  A400: #ffc1c1,
  A700: #ffa7a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
