// Custom Theming for Angular Material https://material.angular.io/guide/theming
@import '../variables';
@import '~@angular/material/theming';

// Be sure that you only ever include this mixin once!
@include mat-core();

@import './mat_theme';

// set theme vars
$custom-primary: mat-palette($mat-custom-primary);
$custom-accent: mat-palette($mat-custom-secondary);

// The warn palette is optional (defaults to red).
$custom-warn: mat-palette($mat-custom-warn);

// Create the light theme object NOTE: use mat-dark-theme if you use dark mode for your app
$custom-theme: mat-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: $primary-font,
);
@include angular-material-typography($custom-typography);

// apply material theme
@include angular-material-theme($custom-theme);
