// http://mcg.mbitson.com tool ot generate

$mat-custom-primary: (
  /* For use in src/lib/core/theming/_palette.scss */ 50: #e1eefc,
  100: #b4d6f8,
  200: #82baf3,
  300: #509eee,
  400: #2b8aea,
  500: #0575e6,
  600: #046de3,
  700: #0462df,
  800: #0358db,
  900: #0145d5,
  A100: #fcfdff,
  A200: #c9d7ff,
  A400: #96b1ff,
  A700: #7d9eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$mat-custom-secondary: (
  50: #e1e4ef,
  100: #b3bbd7,
  200: #818dbc,
  300: #4e5fa1,
  400: #283d8d,
  500: #021b79,
  600: #021871,
  700: #011466,
  800: #01105c,
  900: #010849,
  A100: #7d81ff,
  A200: #4a50ff,
  A400: #171fff,
  A700: #0009fc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-custom-warn: (
  50: #ffe3e3,
  100: #ffb9b9,
  200: #ff8b8b,
  300: #ff5d5d,
  400: #ff3a3a,
  500: #ff1717,
  600: #ff1414,
  700: #ff1111,
  800: #ff0d0d,
  900: #ff0707,
  A100: #ffffff,
  A200: #fff4f4,
  A400: #ffc1c1,
  A700: #ffa7a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
