<!-- Sample HTML for demo starts  -->

<div class="flex flex-row justify-between items-center h-3/4 w-full bg-grey-500">
  <aside class="h-full w-1/4 flex flex-col justify-center items-center"></aside>
  <section class="w-3/4 h-full bg-primary-500 flex flex-col justify-center items-center">
    <h5 class="font-bold text-xl">This is flexbox example using tailwind</h5>
  </section>
  <footer class="h-8 bg-success-500 w-full self-end fixed bottom-0">
    <p class="text-secondary-500 w-full text-center">
      Thank you for using ng-material-starter-template ❤️
    </p>
  </footer>
</div>

<!-- Sample HTML for demo ends  -->

<router-outlet></router-outlet>
