<!-- Sample HTML for demo starts  -->

<div class="flex flex-row justify-between items-center h-3/4 w-full bg-light-500">
  <aside class="h-full w-1/4 flex flex-col justify-center items-center">
    <img
      src="https://repository-images.githubusercontent.com/24195339/87018c00-694b-11e9-8b5f-c34826306d36"
      alt="angular_logo"
    />
  </aside>

  <section class="w-3/4 h-full bg-primary-900 flex flex-col justify-center items-center">
    <h5 class="font-bold text-xl">This is flexbox example using tailwind</h5>
  </section>

  <footer class="h-8 bg-success-500 w-full self-end fixed bottom-0 grid place-content-center">
    <p class="text-secondary-500 w-full text-center">
      Thank you for using ng-new-app ❤️,
      <a href="https://github.com/sardapv/angular-material-starter-template" class="font-semibold">
        show your support by ⭐️ on Github Repo
      </a>
    </p>
  </footer>
</div>

<!-- Sample HTML for demo ends  -->

<ngx-loading-bar [includeSpinner]="false" color="red"></ngx-loading-bar>

<router-outlet></router-outlet>
