<div class="flex flex-row items-center justify-center w-full h-full">
  <div
    class="
      w-3/5
      h-full
      bg-gradient-to-b
      from-primary-700
      via-primary-900
      to-secondary-500
      flex flex-col
      justify-center
      items-center
      overflow-hidden
      relative
      container
    "
  >
    <div class="flex flex-col items-start w-3/4">
      <h2 class="font-semibold text-2xl text-light-500">GoFinance</h2>
      <p class="font-normal text-lg text-light-500 mb-4">The most popular peer to peer lending at SEA</p>
      <button
        color="primary"
        matRipple
        class="h-10 px-8 font-light rounded-lg bg-primary-500 text-light-500 shadow-none"
      >
        Read more
      </button>
    </div>
  </div>
  <div class="w-2/5 h-full"></div>
</div>
